    <header>
        <h2> Fire at your opponent's board </h2>
    </header>


<div>

    <section style="float: left">
        <h4>Your board</h4>
          <pre>
<%= @board %>
          </pre>
          <%= @to_know %>
    </section>

    <section id="shootForm">
      <form method="POST">
        <label for="coordinates">Shoot at: </label>
          <select name="x_coord" value="letter">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
          </select>
          <select name="y_coord" value="number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>

            <input type="submit" value="Fire!" >

          <%= @do_not_shoot_two_times %></br>
          <%= @computer_not_shoot_two_times %>

      </form>
    </section>

    <section style="float: right">
        <h4>Opponent board</h4>
        <pre>
<%= @opponent_board %>
        </pre>
        <%= @to_tell %>
    </section>

</div>




</body>
</html>
